body {
  font-size: 14px;
  color: #111111;
  overflow-x: hidden;
}
@media screen and (max-width: 860px) {
  body {
    font-size: 12px;
  }
}

h2 {
  padding: 30px 0px 30px 50px;
}
h2 a {
  font-size: 24px;
  color: white;
}
@media screen and (max-width: 860px) {
  h2 {
    padding: 7%;
    text-align: center;
  }
}
@media screen and (max-width: 490px) {
  h2 a {
    font-size: 17px;
  }
}

header {
  width: 100%;
  background-color: #fbd914;
  overflow-x: hidden;
}
@media screen and (max-width: 860px) {
  header {
    height: 40px;
    background-color: #0058ab;
    overflow: hidden;
  }
}
header .mainWrap {
  float: right;
  margin: 150px 30px 0px 0px;
}
header .mainWrap .logo {
  width: 200px;
}
@media screen and (max-width: 1120px) {
  header .mainWrap .logo {
    width: 150px;
  }
}
@media screen and (max-width: 860px) {
  header .mainWrap .logo {
    position: absolute;
    top: 4px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 100px;
  }
}
header .mainWrap .logo img {
  width: 100%;
}
header .mainWrap .nav {
  position: absolute;
  width: 201px;
  text-align: right;
}
@media screen and (max-width: 1120px) {
  header .mainWrap .nav {
    right: 35px;
  }
}
@media screen and (max-width: 860px) {
  header .mainWrap .nav {
    display: none;
  }
}
header .mainWrap .nav li {
  margin: 40px auto;
}
header .mainWrap .nav li a {
  position: relative;
  font-size: 24px;
  display: inline-block;
  padding-right: 0px;
}
@media screen and (max-width: 1120px) {
  header .mainWrap .nav li a {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 860px) {
  header .mainWrap .nav li a {
    font-size: 1.1em;
  }
}
header .mainWrap .nav li a::before {
  content: "";
  position: absolute;
  top: 30px;
  width: 0%;
  height: 4px;
  background-color: #0058ab;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .mainWrap .nav li a:hover::before {
  width: 100%;
}
header .gnbWrap {
  position: absolute;
  top: 40px;
}
@media screen and (max-width: 860px) {
  header .gnbWrap {
    top: 15px;
  }
}
header .gnbWrap .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .gnbWrap .gnb li {
  margin-left: 40px;
}
@media screen and (max-width: 860px) {
  header .gnbWrap .gnb li {
    display: none;
    margin-left: 20px;
  }
  header .gnbWrap .gnb li:nth-child(1) {
    display: block;
  }
}
header .gnbWrap .gnb li a:hover {
  opacity: 0.5;
}
header .gnbWrap .gnb li a img {
  width: 100%;
}
header .search {
  position: relative;
  top: 30px;
}
header .search .searchProduct {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 1120px) {
  header .search .searchProduct {
    left: 60%;
  }
}
header .search .searchProduct input {
  background-color: rgba(238, 238, 238, 0.7);
  border: none;
  border-radius: 20px;
  width: 500px;
  height: 45px;
}
@media screen and (max-width: 1120px) {
  header .search .searchProduct input {
    width: 320px;
  }
}
@media screen and (max-width: 860px) {
  header .search .searchProduct input {
    display: none;
  }
}
header .search .searchProduct .leftIcon {
  position: absolute;
  top: 10px;
  left: 10px;
}
@media screen and (max-width: 860px) {
  header .search .searchProduct .leftIcon {
    display: none;
  }
}
header .search .searchProduct .rightIcon {
  position: absolute;
  top: 9px;
  right: 15px;
}
header .search .searchProduct .rightIcon img {
  width: 110%;
}
header .arrow {
  float: right;
  margin: 50px -200px 0px 0px;
}
header .arrow:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1120px) {
  header .arrow {
    margin-right: -150px;
  }
}
@media screen and (max-width: 860px) {
  header .arrow {
    margin: 15px -10px 0px 0px;
  }
}
header .snbWrap {
  z-index: 100;
  position: fixed;
  right: -200%;
  background-color: #eee;
  width: 500px;
  height: 950px;
}
@media screen and (max-width: 860px) {
  header .snbWrap {
    width: 350px;
  }
}
header .snbWrap .close {
  position: absolute;
  top: 50px;
  left: 50px;
}
header .snbWrap .close:hover {
  opacity: 0.5;
}
header .snbWrap .innerBox {
  position: absolute;
  top: 40px;
  left: 130px;
  border-left: 2px solid #0058ab;
  width: 100%;
  height: 90%;
}
@media screen and (max-width: 860px) {
  header .snbWrap .innerBox {
    position: absolute;
    top: 60px;
    left: 50px;
    height: 75%;
    border-left: none;
  }
}
header .snbWrap .innerBox .sLogo {
  width: 100px;
}
header .snbWrap .innerBox .sLogo img {
  width: 100%;
}
@media screen and (max-width: 860px) {
  header .snbWrap .innerBox .sLogo {
    position: absolute;
    top: -20px;
    left: 180px;
    height: 75%;
  }
}
header .snbWrap .innerBox .box {
  width: 250px;
  margin: 50px 0px 0px 50px;
}
@media screen and (max-width: 860px) {
  header .snbWrap .innerBox .box {
    margin: 50px 0px 0px 10px;
    border-left: 2px solid #0058ab;
  }
}
header .snbWrap .innerBox .box a:hover {
  color: #fbd914;
}
header .snbWrap .innerBox .box ul {
  margin: 20px 10px;
}
header .snbWrap .innerBox .box ul li {
  margin: 20px auto;
}
header .snbWrap .innerBox .innerBoxA a {
  font-size: 24px;
  font-weight: 600;
}
@media screen and (max-width: 860px) {
  header .snbWrap .innerBox .innerBoxA a {
    font-size: 16px;
  }
}
header .snbWrap .innerBox .innerBoxB, header .snbWrap .innerBox .innerBoxC {
  margin-top: 0px;
  font-size: 16px;
}
@media screen and (max-width: 860px) {
  header .snbWrap .innerBox .innerBoxB, header .snbWrap .innerBox .innerBoxC {
    font-size: 14px;
  }
}

#mainBanner {
  background-color: #fbd914;
  width: 100%;
  height: 750px;
}
@media screen and (max-width: 1550px) {
  #mainBanner {
    height: 45vw;
  }
}
@media screen and (max-width: 1120px) {
  #mainBanner {
    height: 40vw;
  }
}
@media screen and (max-width: 860px) {
  #mainBanner {
    background-color: #0058ab;
    height: 60vw;
  }
}
#mainBanner .mainVideo {
  position: absolute;
  top: 150px;
  right: 280px;
  left: 5%;
  z-index: 5;
  max-width: 1200px;
}
@media screen and (max-width: 860px) {
  #mainBanner .mainVideo {
    position: absolute;
    top: 46px;
    left: -4px;
    width: 100%;
  }
}
#mainBanner .mainVideo video {
  width: 100%;
  border: 7px solid transparent;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
@media screen and (max-width: 860px) {
  #mainBanner .mainVideo video {
    border: 4px solid transparent;
  }
}
#mainBanner .mainVideo video:hover {
  border: 7px solid #0058ab;
}
@media screen and (max-width: 860px) {
  #mainBanner .mainVideo video:hover {
    border: 4px solid #fbd914;
  }
}
#mainBanner .bag {
  position: absolute;
  right: 50px;
  bottom: -20px;
}
#mainBanner .bag img {
  width: 100%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
@media screen and (max-width: 1550px) {
  #mainBanner .bag {
    display: none;
  }
}

#container {
  width: 100%;
}
#container .newGoodsWrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 850px;
  z-index: 1;
}
@media screen and (max-width: 1550px) {
  #container .newGoodsWrap {
    height: 50vw;
  }
}
@media screen and (max-width: 860px) {
  #container .newGoodsWrap {
    height: 100vw;
  }
}
#container .newGoodsWrap a {
  color: #111111;
}
#container .newGoodsWrap::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 850px;
  z-index: -1;
  opacity: 0.2;
  background-image: url(../img/summerBackground1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#container .newGoodsWrap .pic {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: calc(400% / 4);
}
@media screen and (max-width: 860px) {
  #container .newGoodsWrap .pic {
    width: calc(400% / 2);
  }
}
#container .newGoodsWrap .pic > li {
  float: left;
  width: calc(100% / 4);
  text-align: center;
}
#container .newGoodsWrap .pic > li a {
  _display: block;
}
#container .newGoodsWrap .pic > li a img {
  width: 100%;
  opacity: 0;
}
@media screen and (max-width: 860px) {
  #container .newGoodsWrap .pic > li a img {
    opacity: 1;
  }
}
#container .newGoodsWrap .pageDetail {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
#container .newGoodsWrap .pageDetail a {
  border: 2px solid #0058ab;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: transparent;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #0058ab;
}
#container .newGoodsWrap .pageDetail a:hover {
  background-color: #0058ab;
  color: white;
}
@media screen and (max-width: 860px) {
  #container .newGoodsWrap .pageDetail {
    display: none;
  }
}
#container .newGoodsWrap .pager {
  display: none;
}
@media screen and (max-width: 860px) {
  #container .newGoodsWrap .pager {
    display: block;
    position: absolute;
    bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #container .newGoodsWrap .pager li {
    border: 1px solid #0058ab;
    background-color: #0058ab;
    border-radius: 30px;
    height: 5px;
    width: 60px;
    margin: 10px 10px;
    cursor: pointer;
  }
  #container .newGoodsWrap .pager li.active {
    border: 1px solid #fbd914;
    background-color: #fbd914;
  }
}
#container .showRoomWrap {
  position: relative;
  background-color: whitesmoke;
}
@media screen and (max-width: 860px) {
  #container .showRoomWrap {
    background-color: #111111;
  }
}
#container .showRoomWrap h2 a {
  color: #111111;
}
@media screen and (max-width: 860px) {
  #container .showRoomWrap h2 a {
    color: white;
  }
}
#container .showRoomWrap .buttonBox {
  position: relative;
  width: 100%;
}
#container .showRoomWrap .buttonBox .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1120px) {
  #container .showRoomWrap .buttonBox .button {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 860px) {
  #container .showRoomWrap .buttonBox .button {
    _padding-bottom: 30px;
    display: none;
  }
}
#container .showRoomWrap .buttonBox .button li {
  margin-left: 40px;
  padding: 7px;
  border-radius: 10px;
  background-color: transparent;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: 3px 3px 7px 1px #999;
          box-shadow: 3px 3px 7px 1px #999;
}
#container .showRoomWrap .buttonBox .button li:first-child {
  margin-left: 100px;
}
#container .showRoomWrap .buttonBox .button li.active {
  background-color: #fbd914;
}
@media screen and (max-width: 1120px) {
  #container .showRoomWrap .buttonBox .button li {
    margin-bottom: 20px;
  }
  #container .showRoomWrap .buttonBox .button li:first-child {
    margin-left: 40px;
  }
}
#container .showRoomWrap .showPic {
  position: relative;
  height: 1050px;
}
@media screen and (max-width: 1550px) {
  #container .showRoomWrap .showPic {
    height: 60vw;
  }
}
@media screen and (max-width: 860px) {
  #container .showRoomWrap .showPic {
    display: none;
  }
}
#container .showRoomWrap .showPic > li {
  position: absolute;
  top: 50%;
  left: 50%;
  _border: 1px solid red;
  display: none;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#container .showRoomWrap .showPic > li:nth-child(1) {
  display: block;
}
#container .showRoomWrap .showPic > li:nth-child(8) {
  width: 80%;
}
#container .showRoomWrap .showPic > li:nth-child(4), #container .showRoomWrap .showPic > li:nth-child(5), #container .showRoomWrap .showPic > li:nth-child(6), #container .showRoomWrap .showPic > li:nth-child(9) {
  width: 70%;
}
#container .showRoomWrap .showPic > li .picBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#container .showRoomWrap .showPic > li .picBox > li {
  padding: 10px;
}
#container .showRoomWrap .showPic > li .picBox > li a img {
  width: 100%;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
  border: 5px solid transparent;
}
#container .showRoomWrap .showPic > li .picBox > li a img:hover {
  border: 5px solid #fbd914;
}
#container .showRoomWrap .showPic > li .picBoxUnder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#container .showRoomWrap .showPic > li .picBoxUnder > li {
  padding: 10px;
}
#container .showRoomWrap .showPic > li .picBoxUnder > li a img {
  width: 100%;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
  border: 5px solid transparent;
}
#container .showRoomWrap .showPic > li .picBoxUnder > li a img:hover {
  border: 5px solid #fbd914;
}
#container .showRoomWrap ::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
#container .showRoomWrap ::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
#container .showRoomWrap .mshowPic {
  display: none;
  overflow: hidden;
  height: 100vh;
}
@media screen and (max-width: 860px) {
  #container .showRoomWrap .mshowPic {
    display: block;
  }
}
#container .showRoomWrap .mshowPic .horizontal-scroll-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vh;
  -webkit-transform: rotate(-90deg) translate3d(0, -100vh, 0);
          transform: rotate(-90deg) translate3d(0, -100vh, 0);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  height: 100vw;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding-bottom: 10rem;
}
#container .showRoomWrap .mshowPic .horizontal-scroll-wrapper .img-wrapper {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40vh;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(90deg) translateZ(0.1px) scale(0.9) translateX(0px) translateY(-3vh);
          transform: rotate(90deg) translateZ(0.1px) scale(0.9) translateX(0px) translateY(-3vh);
  -webkit-transition: 1s;
  transition: 1s;
}
#container .showRoomWrap .mshowPic .horizontal-scroll-wrapper .img-wrapper:hover {
  min-height: 65vh;
}
#container .showRoomWrap .mshowPic .horizontal-scroll-wrapper .img-wrapper a {
  overflow: hidden;
  display: block;
  padding: 1vh;
}
#container .showRoomWrap .mshowPic .horizontal-scroll-wrapper .img-wrapper a img {
  max-width: 45vh;
  max-height: 50vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  vertical-align: top;
}
#container .showRoomWrap .mshowPic .horizontal-scroll-wrapper .slower {
  -webkit-transform: rotate(90deg) translateZ(-0.2px) scale(1.1) translateX(0%) translateY(-30vh);
          transform: rotate(90deg) translateZ(-0.2px) scale(1.1) translateX(0%) translateY(-30vh);
}
#container .showRoomWrap .mshowPic .horizontal-scroll-wrapper .slower1 {
  -webkit-transform: rotate(90deg) translateZ(-0.25px) scale(1.05) translateX(0%) translateY(8vh);
          transform: rotate(90deg) translateZ(-0.25px) scale(1.05) translateX(0%) translateY(8vh);
}
#container .showRoomWrap .mshowPic .horizontal-scroll-wrapper .slower2 {
  -webkit-transform: rotate(90deg) translateZ(-0.3px) scale(1.3) translateX(0%) translateY(2vh);
          transform: rotate(90deg) translateZ(-0.3px) scale(1.3) translateX(0%) translateY(2vh);
}
#container .showRoomWrap .mshowPic .horizontal-scroll-wrapper .slower-down {
  -webkit-transform: rotate(90deg) translateZ(-0.2px) scale(1.1) translateX(0%) translateY(26vh);
          transform: rotate(90deg) translateZ(-0.2px) scale(1.1) translateX(0%) translateY(26vh);
}
#container .showRoomWrap .mshowPic .horizontal-scroll-wrapper .faster {
  -webkit-transform: rotate(90deg) translateZ(0.15px) scale(0.8) translateX(0%) translateY(14vh);
          transform: rotate(90deg) translateZ(0.15px) scale(0.8) translateX(0%) translateY(14vh);
}
#container .showRoomWrap .mshowPic .horizontal-scroll-wrapper .faster1 {
  -webkit-transform: rotate(90deg) translateZ(0.05px) scale(0.8) translateX(0%) translateY(10vh);
          transform: rotate(90deg) translateZ(0.05px) scale(0.8) translateX(0%) translateY(10vh);
}
#container .showRoomWrap .mshowPic .horizontal-scroll-wrapper .fastest {
  -webkit-transform: rotate(90deg) translateZ(0.22px) scale(0.7) translateX(-10vh) translateY(-15vh);
          transform: rotate(90deg) translateZ(0.22px) scale(0.7) translateX(-10vh) translateY(-15vh);
}
#container .showRoomWrap .mshowPic .horizontal-scroll-wrapper .vertical {
  -webkit-transform: rotate(90deg) translateZ(-0.15px) scale(1.15) translateX(0%) translateY(0%);
          transform: rotate(90deg) translateZ(-0.15px) scale(1.15) translateX(0%) translateY(0%);
}
#container .showRoomWrap .mshowPic .horizontal-scroll-wrapper .last {
  -webkit-transform: rotate(90deg) translateZ(-0.2px) scale(2) translateX(15vh) translateY(-8vh);
          transform: rotate(90deg) translateZ(-0.2px) scale(2) translateX(15vh) translateY(-8vh);
}
#container .saleWrap a {
  color: #111111;
}
#container .saleWrap .innerBox {
  width: 100%;
}
#container .saleWrap .innerBox .saleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 0px 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#container .saleWrap .innerBox .saleBox li {
  display: inline-block;
  width: 185px;
}
@media screen and (max-width: 1120px) {
  #container .saleWrap .innerBox .saleBox li {
    width: 287px;
  }
}
@media screen and (max-width: 490px) {
  #container .saleWrap .innerBox .saleBox li:nth-child(4), #container .saleWrap .innerBox .saleBox li:nth-child(5), #container .saleWrap .innerBox .saleBox li:nth-child(6) {
    display: none;
  }
}
#container .saleWrap .innerBox .saleBox li .saleProduct {
  width: 100%;
  position: relative;
}
#container .saleWrap .innerBox .saleBox li .saleProduct .product {
  width: 100%;
  height: 100%;
}
#container .saleWrap .innerBox .saleBox li .saleProduct .product .box {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  opacity: 1;
}
@media screen and (max-width: 1120px) {
  #container .saleWrap .innerBox .saleBox li .saleProduct .product .box {
    height: 300px;
  }
}
#container .saleWrap .innerBox .saleBox li .saleProduct .product .box:hover img:nth-child(2) {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
}
#container .saleWrap .innerBox .saleBox li .saleProduct .product .box img {
  position: absolute;
  display: block;
  width: 100%;
}
#container .saleWrap .innerBox .saleBox li .price {
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}
#container .saleWrap .innerBox .saleBox li .price strong {
  display: inline-block;
  margin: 5px 0px;
  color: #ca5008;
}
#container .saleWrap .innerBox .saleBox li .price .title {
  margin: 5px 0px;
}
#container .saleWrap .innerBox .saleBox li .price .title a {
  font-size: 14px;
}
#container .saleWrap .innerBox .saleBox li .price .title a:hover {
  color: #fbd914;
}
#container .saleWrap .innerBox .saleBox li .price .subtitle {
  margin: 5px 0px 10px;
}
#container .saleWrap .innerBox .saleBox li .price small {
  display: inline-block;
  text-decoration: line-through;
  margin: 5px 0px;
}
#container .saleWrap .innerBox .saleBox li .price p {
  font-size: 16px;
  margin-bottom: 5px;
}
#container .saleWrap .innerBox .saleBox li .price .review {
  _margin: 10px 0px;
}
#container .saleWrap .innerBox .saleBox li .price .review img {
  width: 15px;
}
#container .saleWrap .innerBox .saleBox li .otherOption {
  position: relative;
  top: 0;
  text-align: left;
  margin-bottom: 10px;
}
@media screen and (max-width: 860px) {
  #container .saleWrap .innerBox .saleBox li .otherOption {
    display: none;
  }
}
#container .saleWrap .innerBox .saleBox li .otherOption p {
  margin: 20px 0px 10px 20px;
  font-size: 13px;
}
#container .saleWrap .innerBox .saleBox li .otherOption .color {
  _border: 1px solid orange;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#container .saleWrap .innerBox .saleBox li .otherOption .color a {
  border-bottom: 1px solid transparent;
}
#container .saleWrap .innerBox .saleBox li .otherOption .color a:hover {
  border-bottom: 1px solid #0058ab;
}

footer {
  overflow: hidden;
  position: relative;
  color: #eee;
  background-color: #0058ab;
}
footer a {
  color: #eee;
}
footer .footTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 40px;
}
footer .footTop .join {
  width: 20%;
  margin: 80px 100px 100px 0px;
}
footer .footTop .join .footLogo {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
footer .footTop .join p {
  margin: 15px 0px;
  line-height: 1.5em;
}
footer .footTop .join p > a {
  text-decoration: underline;
}
footer .footTop .join p > a:hover {
  color: #fbd914;
}
footer .footTop .join > a {
  margin: 30px 0px;
  font-size: 14px;
  display: inline-block;
  color: #111111;
  padding: 0.75rem 1.25rem;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
  background-color: #fbd914;
}
footer .footTop .innerBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0px;
}
footer .footTop .innerBox .footBox {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}
footer .footTop .innerBox .footBox > li {
  margin: 30px 0px;
  font-size: 14px;
  font-weight: 300;
}
footer .footTop .innerBox .footBox > li a:hover {
  color: #fbd914;
}
footer .footTop .footSns {
  position: absolute;
  top: 550px;
  width: 100%;
}
footer .footTop .footSns .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footTop .footSns .sns li {
  margin: 20px 50px 20px 0px;
  background-color: #fbd914;
  border-radius: 100%;
  padding: 8px;
}
footer .footTop .global {
  position: absolute;
  top: 550px;
  right: 0px;
  margin: 20px 50px 20px 0px;
  background-color: #fbd914;
  border-radius: 100%;
  padding: 8px;
}
footer .footTop .global img {
  width: 100%;
}
@media screen and (max-width: 860px) {
  footer .footTop {
    display: none;
  }
}
footer .mfootTop {
  display: none;
}
@media screen and (max-width: 860px) {
  footer .mfootTop {
    display: block;
    margin: 0px 10px 0px 10px;
  }
  footer .mfootTop .join {
    width: 100%;
    margin: 50px 0px 20px 0px;
    text-align: center;
  }
  footer .mfootTop .join .footLogo {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  footer .mfootTop .join p {
    margin: 15px 0px;
    line-height: 1.5em;
  }
  footer .mfootTop .join p > a {
    text-decoration: underline;
  }
  footer .mfootTop .join p > a:hover {
    color: #fbd914;
  }
  footer .mfootTop .join > a {
    margin: 30px 0px;
    font-size: 14px;
    display: inline-block;
    color: #111111;
    padding: 0.75rem 1.25rem;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.5;
    background-color: #fbd914;
  }
  footer .mfootTop .minnerBox {
    width: 100%;
  }
  footer .mfootTop .minnerBox > li {
    border-top: 1px solid #eee;
    padding: 50px 10px;
    text-align: center;
    position: relative;
  }
  footer .mfootTop .minnerBox > li:last-child {
    border-bottom: 1px solid #eee;
  }
  footer .mfootTop .minnerBox > li a {
    font-size: 16px;
    font-weight: 600;
  }
  footer .mfootTop .minnerBox > li a:hover {
    color: #fbd914;
  }
  footer .mfootTop .minnerBox > li .footBox {
    display: none;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    text-align: center;
    background-color: #fbd914;
  }
  footer .mfootTop .minnerBox > li .footBox > li {
    padding: 10px 0px;
  }
  footer .mfootTop .minnerBox > li .footBox > li a {
    font-size: 14px;
    font-weight: 300;
    color: #0058ab;
  }
}
footer .footBottom {
  border-top: 1px solid #eee;
  padding-top: 0px;
  margin: 50px 40px;
  font-size: 12px;
}
@media screen and (max-width: 860px) {
  footer .footBottom {
    border-top: 1px solid transparent;
  }
}
footer .footBottom .left {
  margin: 30px 0px;
}
footer .footBottom .left > p {
  margin-bottom: 40px;
}
footer .footBottom .left .address p {
  margin: 5px 0px;
}
footer .footBottom .right {
  position: absolute;
  right: 20px;
  bottom: 185px;
}
@media screen and (max-width: 860px) {
  footer .footBottom .right {
    display: none;
  }
}
footer .footBottom .right .notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footBottom .right .notice > li {
  margin: 0px 10px;
}
footer .footBottom .right .notice > li a:hover {
  color: #fbd914;
}